<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :offer_name %>
  </div>

  <div class="field">
    <%= form.label :advertiser %>
    <%= form.text_field :advertiser, id: :offer_advertiser %>
  </div>

  <div class="field">
    <%= form.label :payout %>
    <%= form.text_field :payout, id: :offer_payout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
